<div class="userProfile">
	<div class="imageDiv">
		<img class="user-image" [src]="(user|async)?.photoURL">
	</div>

	<form>
		<div class="form-group">
			<label for="name">Username: </label>
			<input type="text" name="name" [ngModel]="(user | async)?.displayName">
		</div>

		<div class="form-group">
			<label for="email">Email: </label>
			<input type="text" name="email" [ngModel]="(user | async)?.email">
		</div>
	</form>

	<button md-raised-button routerLink='/my-venues'>MyVenues</button>
	
	<button md-raised-button routerLink='/upcoming-events'>Upcoming Events</button>
	
	<button md-raised-button (click)="handlePayment()">Payment Settings</button>

	<button md-raised-button class="logoutButton" (click)="logOut();">Logout</button>
</div>